{% extends 'AcmeMsgbBundle:Base:base.html.twig' %}
{% block body %}
    <center>
        <font size=20>Welcome, {{ admin.account }} ({{ admin.nickname }})!</font><br>
        <a href="{{ path('AcmeMsgbBundle_homepage') }}">Message List</a><br>
        <a href="{{ path('AcmeMsgbBundle_admin_ctrl') }}">Admin Controller</a><br>
        <a href="{{ path('AcmeMsgbBundle_admin_log') }}">Log</a><br>
        <a href="{{ path('AcmeMsgbBundle_admin_analyze') }}">Analyze</a><br>
        <a href="{{ path('AcmeMsgbBundle_logout') }}">Logout</a><br>
    </center>
{% endblock %}
